<div class="collapse show d-md-flex bg-light pt-2 pl-0 min-vh-100" id="sidebar" style="position: fixed;">
    <ul class="nav flex-column flex-nowrap overflow-hidden">
        <li class="nav-item">
            <a class="nav-link text-truncate" href="#definition"> Définition et catégories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#fonctionnement" >Fonctionnement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#enjeux" >Enjeux par rapport à l'énergie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#acteur" >Acteurs majeurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#unite" >Unités de mesure</a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#zone" >Zone de présence ou d'application</a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#passe" >Passé et présent</a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#futur" >Futur</a>
        </li>
    </ul>
</div>