{% load static %}
<h2><span style="font-size:20px"><strong><span style="font-family:Roboto,serif">D&eacute;finition et cat&eacute;gories<a id="definition" name="definition"></a></span></strong></span></h2>

<p><span style="font-family:Times New Roman,serif"><span style="font-size:medium"><span style="color:#333333"><span style="font-family:Roboto,serif">Une plateforme p&eacute;troli&egrave;re est une unit&eacute; permettant d&rsquo;extraire, produire ou stocker&nbsp;</span></span><a href="https://www.connaissancedesenergies.org/fiche-pedagogique/petrole-et-gaz-offshore" target="_blank"><span style="color:#252525"><span style="font-family:Roboto,serif">le p&eacute;trole et/ou le gaz situ&eacute;s en haute mer</span></span></a><span style="color:#333333"><span style="font-family:Roboto,serif">&nbsp;&agrave; des profondeurs parfois tr&egrave;s importantes.</span></span></span></span></p>

<p><span style="font-family:Times New Roman,serif"><span style="font-size:medium"><span style="color:#333333"><span style="font-family:Roboto,serif">Elle supporte principalement les dispositifs n&eacute;cessaires pour la phase de&nbsp;forage&nbsp;ou d&#39;extraction du&nbsp;p&eacute;trole.</span></span></span></span></p>

<p><span style="font-family:Times New Roman,serif"><span style="font-size:medium">elle remplit plusieurs fonctions&nbsp;: </span></span></p>

<ul>
	<li>
	<p><span style="font-family:Times New Roman,serif"><span style="font-size:medium">Forage</span></span></p>
	</li>
	<li>
	<p><span style="font-family:Times New Roman,serif"><span style="font-size:medium">Production</span></span></p>
	</li>
	<li>
	<p><span style="font-family:Times New Roman,serif"><span style="font-size:medium">Habitage</span></span></p>
	</li>
	<li>
	<p><span style="font-family:Times New Roman,serif"><span style="font-size:medium">Et stockage</span></span></p>
	</li>
</ul>

<p><span style="font-family:Times New Roman,serif"><span style="font-size:medium">Toutes fois, cela d&eacute;pend du type de plateforme consid&eacute;r&eacute;e&nbsp;; en fonction des profondeurs de l&rsquo;eau et des r&egrave;gles de s&eacute;curit&eacute;s, ses fonctions peuvent &ecirc;tre regroup&eacute;es sur une m&ecirc;me plateforme ou pas.</span></span></p>

<p><span style="font-family:Times New Roman,serif"><span style="font-size:medium">Cependant, pour des gisements important, il arrive qu&rsquo;on combine plusieurs plateformes en fonctions de leurs caract&eacute;ristiques et de l&rsquo;environnement de travail. En autre, une plateforme p&eacute;troli&egrave;re se compose de deux parties&nbsp;: </span></span></p>

<ul>
	<li>
	<p><span style="font-family:Times New Roman,serif"><span style="font-size:medium">&laquo;&nbsp;les topsides &raquo;&nbsp;; constitues des modules pr&eacute;fabriqu&eacute;es, qui correspondent &agrave; la parties utiles situ&eacute;e au-dessus de la surface </span></span></p>
	</li>
	<li>
	<p><span style="font-family:Times New Roman,serif"><span style="font-size:medium">&laquo;&nbsp;la structure porteuse&nbsp;&raquo;&nbsp;; en treillis tubulaires m&eacute;talliques, en colonnes de b&eacute;ton, qui sert &agrave; maintenir la partie utile au-dessus de l&rsquo;eau.</span></span></p>
	</li>
</ul>

<p><span style="font-family:Times New Roman,serif"><span style="font-size:medium">De fa&ccedil;on g&eacute;n&eacute;rale, il existe trois grandes familles de plateformes&nbsp;: </span></span></p>

<ul>
	<li>
	<p><span style="font-family:Times New Roman,serif"><span style="font-size:medium">Les plateformes fixes&nbsp;: utiliser en mer peu profonds (&lt;300m)&nbsp;;</span></span></p>
	</li>
	<li>
	<p><span style="font-family:Times New Roman,serif"><span style="font-size:medium">Les plateformes flottantes, utilis&eacute;es dans de grands profondeurs (&gt;300m)&nbsp;;</span></span></p>
	</li>
	<li>
	<p><span style="font-family:Times New Roman,serif"><span style="font-size:medium">Les plateformes mobiles.</span></span></p>
	</li>
</ul>

<p><img src="{% static 'img/plateformes/plateforme_1.jpg' %}" style="height:243px; width:530px" /></p>

<p>&nbsp;</p>

<p><span style="color:#333333"><span style="font-family:Helvetica,serif"><span style="font-size:medium">On distingue aussi 3 types de plateformes&nbsp;:</span></span></span></p>

<ul>
	<li>
	<p><span style="color:#333333"><span style="font-family:Helvetica,serif"><span style="font-size:medium"><strong>les MODU</strong></span></span></span><span style="color:#333333"><span style="font-family:Helvetica,serif"><span style="font-size:medium">&nbsp;(</span></span></span><span style="color:#333333"><span style="font-family:Helvetica,serif"><span style="font-size:medium"><em>Module Offshore Drilling Units</em></span></span></span><span style="color:#333333"><span style="font-family:Helvetica,serif"><span style="font-size:medium">) servant uniquement au forage et pouvant loger du personnel;</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Helvetica,serif"><span style="font-size:medium"><strong>les PP</strong></span></span></span><span style="color:#333333"><span style="font-family:Helvetica,serif"><span style="font-size:medium">&nbsp;(</span></span></span><span style="color:#333333"><span style="font-family:Helvetica,serif"><span style="font-size:medium"><em>Production Platform</em></span></span></span><span style="color:#333333"><span style="font-family:Helvetica,serif"><span style="font-size:medium">s) servant &agrave; la production et/ou au pr&eacute;traitement du brut, mais sans logement&nbsp;;</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Helvetica,serif"><span style="font-size:medium"><strong>les LQ&nbsp;</strong></span></span></span><span style="color:#333333"><span style="font-family:Helvetica,serif"><span style="font-size:medium">(</span></span></span><span style="color:#333333"><span style="font-family:Helvetica,serif"><span style="font-size:medium"><em>Living Quarters</em></span></span></span><span style="color:#333333"><span style="font-family:Helvetica,serif"><span style="font-size:medium">) servant uniquement au logement, et o&ugrave; tout stockage / transit d&#39;hydrocarbures est interdit pour des raisons de s&eacute;curit&eacute;.</span></span></span></p>
	</li>
</ul>

<p><span style="font-size:20px"><strong><span style="font-family:Roboto,serif">Fonctionnement technique ou scientifique<a id="fonctionnement" name="fonctionnement"></a></span></strong></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:large"><strong>Construction d&rsquo;une plateforme</strong></span></span></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Elle commence lorsque des forages de reconnaissance confirment la pr&eacute;sence d&rsquo;un gisement de p&eacute;trole et/ou de gaz et lorsque les &eacute;tudes &eacute;conomiques s&rsquo;av&egrave;rent favorables.</span></span></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">L&rsquo;assemblage est r&eacute;alis&eacute; sur la terre ferme, la structure est ensuite transport&eacute;e sur des barges g&eacute;antes jusqu&rsquo;au site.&nbsp;La conception de la structure porteuse doit tenir compte de contraintes sp&eacute;cifiques li&eacute;es au milieu marin (mar&eacute;es, temp&ecirc;tes, houle, courants, vent), &agrave; la corrosion li&eacute;e &agrave; cet environnement et au risque sismique.</span></span></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Des milliers de tonnes de mat&eacute;riaux sont n&eacute;cessaires, par exemple, 245&nbsp;000&nbsp;m&sup3;&nbsp;de b&eacute;ton et&nbsp;100&nbsp;000&nbsp;tonnes&nbsp;d&#39;acier passif ont &eacute;t&eacute; n&eacute;cessaires &agrave; la construction de la plateforme &laquo;&nbsp;Troll A&nbsp;&raquo; en Norv&egrave;ge (plus grande plateforme que l&rsquo;homme ait jamais d&eacute;plac&eacute;e). La construction d&rsquo;une plateforme n&eacute;cessite&nbsp;2 &agrave; 3 ans de travail&nbsp;pour des milliers d&rsquo;ouvriers.</span></span></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:large"><strong>Fonctionnement</strong></span></span></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Une plateforme p&eacute;troli&egrave;re se compose de deux parties :&nbsp;</span></span></span></p>

<ul>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium"><strong>les&nbsp;&laquo;&nbsp;topsides&nbsp;&raquo;</strong></span></span></span><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">&nbsp;: constitu&eacute;s de modules pr&eacute;fabriqu&eacute;s, ils correspondent &agrave; la partie utile au-dessus de la surface.</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium"><strong>la&nbsp;&laquo;&nbsp;structure porteuse&nbsp;&raquo;&nbsp;</strong></span></span></span><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">: en treillis tubulaire m&eacute;tallique (assemblage de tubes m&eacute;talliques formant une triangulation), en colonnes de b&eacute;ton ou encore sous la forme de barge flottante dans le cas d&rsquo;une FPSO (</span></span></span><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium"><em>Floating Production Storage and Offloading</em></span></span></span><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">), elle sert &agrave; maintenir la partie utile au-dessus de l&#39;eau.</span></span></span></p>
	</li>
</ul>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Une unit&eacute; de traitement s&eacute;pare et traite les composants r&eacute;colt&eacute;s (p&eacute;trole, gaz, eau) avant qu&rsquo;ils soient transport&eacute;s par pipeline ou par tanker vers&nbsp;</span></span></span><a href="https://www.connaissancedesenergies.org/node/147" target="_blank"><span style="color:#252525"><span style="font-family:Roboto,serif"><span style="font-size:medium">une raffinerie</span></span></span></a><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">.&nbsp;</span></span></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Le</span></span></span><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium"><strong>&nbsp;derrick</strong></span></span></span><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">&nbsp;est le point culminant d&rsquo;une plateforme de forage. Cette tour m&eacute;tallique, dans la phase de forage, soutient une tr&egrave;s longue tige au bout de laquelle se trouve une m&egrave;che de forage, le tr&eacute;pan. Cette tige est rallong&eacute;e au fur et &agrave; mesure que le tr&eacute;pan broie les diff&eacute;rentes couches de roche du sous-sol pour atteindre le gisement de p&eacute;trole.</span></span></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Les tiges peuvent descendre jusqu&rsquo;&agrave; des profondeurs de 3 ou 4&nbsp;kilom&egrave;tres pour atteindre des r&eacute;servoirs de quelques m&egrave;tres d&rsquo;&eacute;paisseur seulement. La pr&eacute;cision de l&rsquo;impact est donc exceptionnelle. Lorsqu&rsquo;il est n&eacute;cessaire de creuser un autre puits pour r&eacute;cup&eacute;rer ou injecter des fluides, le derrick est d&eacute;plac&eacute; sur la plateforme et un nouveau forage est entrepris.</span></span></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Il permet aussi de forer &agrave; l&rsquo;horizontale, &agrave; l&rsquo;aide d&rsquo;une t&ecirc;te de forage rotative permettant d&rsquo;incliner progressivement la courbe op&eacute;r&eacute;e par la tige. Ce type de forage permet d&rsquo;exploiter ainsi des surfaces de plusieurs kilom&egrave;tres carr&eacute;s depuis la plateforme sans avoir &agrave; se d&eacute;placer &agrave; la verticale des gisements.</span></span></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Au-del&agrave; de 300 m de profondeur, l&#39;exploitation ne se fait plus avec des plateformes fixes mais avec des installations flottantes.</span></span></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:large"><strong>Les diff&eacute;rents types de plateformes</strong></span></span></span></p>

<p><img src="{% static 'img/plateformes/plateforme_2.jpg' %}" style="height:328px; width:530px" /> </a></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium"><strong>Les plateformes fixes</strong></span></span></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">La plupart des plateformes fixes sont utilis&eacute;es en mer peu profonde (&lt;300 m). Ces plateformes s&#39;appuient sur le fond et peuvent donc &ecirc;tre reli&eacute;es de fa&ccedil;on rigide aux t&ecirc;tes de puits et aux&nbsp;pipelines.</span></span></span></p>

<ul>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium"><strong>Jacket-deck</strong></span></span></span><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">&nbsp;: structure en acier constitu&eacute;e de membrures tubulaires et fix&eacute;es au sol par des piles en acier.</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium"><strong>Gravitary platform</strong></span></span></span><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">&nbsp;: tour en b&eacute;ton dont la stabilit&eacute; est due uniquement &agrave; son propre poids sur le fond oc&eacute;anique et sur laquelle s&#39;&eacute;rigent les superstructures.</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium"><strong>Compliant tower</strong></span></span></span><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">&nbsp;: structure souple constitu&eacute;e d&#39;un pont flottant ancr&eacute; au plancher oc&eacute;anique au moyen de longs tuyaux tendus en permanence.</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium"><strong>Jack-up rig</strong></span></span></span><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">&nbsp;: plateformes auto&eacute;l&eacute;vatrices compos&eacute;es d&#39;une coque et de jambes, con&ccedil;ues pour les exploitations en eaux peu profondes. La structure peut &ecirc;tre d&eacute;plac&eacute;e mais aussi &eacute;lev&eacute;e ou abaiss&eacute;e. Ainsi ces plateformes peuvent se d&eacute;ployer en de multiples endroits tout en ayant un appui sur le sol.</span></span></span></p>
	</li>
</ul>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium"><strong>Les plateformes mobiles et unit&eacute;s flottantes</strong></span></span></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Les plateformes flottantes sont essentiellement utilis&eacute;es pour l&#39;exploitation de champs p&eacute;troliers dans les grands fonds (sup&eacute;rieurs &agrave; 300 m&egrave;tres environ). Lorsque la plateforme est flottante, les installations de t&ecirc;te de puits lui sont reli&eacute;es par des conduites flexibles.</span></span></span></p>

<ul>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium"><strong>TLP (Tension Leg Platforms)</strong></span></span></span><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">&nbsp;: plateformes poss&eacute;dant un exc&egrave;s de flottabilit&eacute; et maintenues en place par des c&acirc;bles tendus les reliant au fond.</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium"><strong>SPAR</strong></span></span></span><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">&nbsp;: plateformes plus classiques qui n&#39;int&egrave;grent que la production et sont reli&eacute;es &agrave; des pipelines pour l&#39;exportation du gaz et/ou du p&eacute;trole produit. Les SPAR reposent sur un &eacute;norme flotteur cylindrique.</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium"><strong>Les plateformes semi-submersibles</strong></span></span></span><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">&nbsp;: plateformes ballast&eacute;es par remplissage d&rsquo;eau lorsqu&rsquo;elles se trouvent en position, puis ancr&eacute;es. Cela les rend moins vuln&eacute;rables &agrave; la houle.</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium"><strong>FPSO (Floating Production Storage and Offloading)</strong></span></span></span><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">&nbsp;: plateformes en forme de coque, qui produisent du p&eacute;trole, le stockent temporairement et chargent les navires p&eacute;troliers. Elles sont ancr&eacute;es au fond de la mer.</span></span></span></p>
	</li>
</ul>

<p><span style="font-size:20px"><strong><span style="font-family:Roboto,serif">Enjeux par rapport &agrave; l&#39;&eacute;nergie<a id="enjeux" name="enjeux"></a></span></strong></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:large"><strong>Adapter la plateforme &agrave; l&rsquo;environnement et aux conditions offshore</strong></span></span></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">L&#39;ing&eacute;nierie de la construction navale doit faire face &agrave; de nombreux obstacles (limitation d&#39;espace physique, conditions m&eacute;t&eacute;orologiques extr&ecirc;mes, eaux profondes, sites &eacute;loign&eacute;s, etc.) dans le respect de la s&eacute;curit&eacute; des personnels et de l&rsquo;environnement. Ces contraintes font des plateformes des objets techniques de tr&egrave;s haute sophistication.</span></span></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">La maintenance et l&#39;exploitation dans un environnement s&ucirc;r requi&egrave;rent d&rsquo;avoir acc&egrave;s &agrave; des donn&eacute;es fiables et pr&eacute;cises.&nbsp;</span></span></span></p>

<p><span style="font-size:20px"><strong><span style="font-family:Roboto,serif">Acteurs majeurs<a id="acteur" name="acteur"></a></span></strong></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:large"><strong>Conception</strong></span></span></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Elle rassemble des groupes sp&eacute;cialistes, notamment, de l&rsquo;industrie parap&eacute;troli&egrave;re et paragazi&egrave;re offshore&nbsp;: Bouygues Offshore, Technip, Delattre Levivier Maroc (DLM), Derrick Service Limited (DSL), etc.</span></span></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:large"><strong>Exploitation</strong></span></span></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Afin d&rsquo;exploiter les gisements offshore, les compagnies p&eacute;troli&egrave;res comme&nbsp;</span></span></span><a href="https://www.connaissancedesenergies.org/node/149" target="_blank"><span style="color:#252525"><span style="font-family:Roboto,serif"><span style="font-size:medium">Total</span></span></span></a><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">, Exxon Mobile ou BP, louent &agrave; des groupes propri&eacute;taires de plateformes et sp&eacute;cialis&eacute;es dans le forage offshore comme Transocean.</span></span></span></p>

<p><span style="font-size:20px"><strong><span style="font-family:Roboto,serif">Unit&eacute;s de mesure<a id="unite" name="unite"></a></span></strong></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:large"><strong>L&rsquo;exemple d&rsquo;une plateforme fixe de type jacket deck en mer du Nord&nbsp;: Alwyn North (Ecosse)</strong></span></span></span></p>

<ul>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Date de mise en service: 1987&nbsp;</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Dur&eacute;e de vie&nbsp;: 30 ans</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Longueur des pieds&nbsp;: 126&nbsp;m sous la mer et 31&nbsp;m au-dessus&nbsp;</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Poids&nbsp;: 43 000&nbsp;tonnes d&rsquo;acier&nbsp;</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Co&ucirc;t&nbsp;: 2,25&nbsp;milliards d&rsquo;euros&nbsp;</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Nombre de puits de forage&nbsp;: 47&nbsp;</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Profondeur des puits de forage&nbsp;: environ 4&nbsp;000&nbsp;m&nbsp;</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Production&nbsp;: 40&nbsp;000&nbsp;barils de p&eacute;trole par jour&nbsp;</span></span></span></p>
	</li>
</ul>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Il existe plus de 15 000 plateformes dans le monde. A titre d&rsquo;exemple, le Golfe du Mexique compte &agrave; lui seul pr&egrave;s de 4 000 plateformes p&eacute;troli&egrave;res actives.</span></span></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Certaines plateformes ont la superficie d&rsquo;un terrain de football (5 000 m&sup2;).</span></span></span></p>

<p><span style="font-size:20px"><strong><span style="font-family:Roboto,serif">Zone de pr&eacute;sence ou d&#39;application<a id="zone" name="zone"></a></span></strong></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">On trouve des plateformes p&eacute;troli&egrave;res dans les&nbsp;r&eacute;gions&nbsp;suivantes&nbsp;:</span></span></span></p>

<ul>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Mer du Nord, r&eacute;parties en Grande Bretagne, Norv&egrave;ge, Pays-Bas, Danemark (plus de 450 plateformes) ;</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Golfe Persique ;</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Golfe de Guin&eacute;e notamment au Gabon, en Angola et au Nig&eacute;ria ;</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Mer de Chine dans les eaux territoriales du Vietnam, de la Malaisie et de la Chine ;</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Mer M&eacute;diterran&eacute;e, principalement au large des c&ocirc;tes d&rsquo;Afrique du Nord (au nombre de 16) ;</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Mer Caspienne ;</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">C&ocirc;tes du&nbsp;Br&eacute;sil dont l&rsquo;immense gisement de Tupi d&eacute;couvert en 2007 ;</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Golfe du Mexique, le long des c&ocirc;tes am&eacute;ricaines et en baie de Camp&ecirc;che (Mexique) ;</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">C&ocirc;tes nord-ouest et sud-est de l&#39;Australie ;</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">C&ocirc;tes de la&nbsp;Malaisie,&nbsp;Brunei&nbsp;et certaines parties de l&#39;archipel indon&eacute;sien ;</span></span></span></p>
	</li>
	<li>
	<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Littoral atlantique canadien, au large de Terre-Neuve (Hibernia, White Rose).</span></span></span></p>
	</li>
</ul>

<p><strong><span style="font-size:20px"><span style="font-family:Roboto,serif">Pass&eacute; et pr&eacute;sent<a id="passe" name="passe"></a></span></span></strong></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Au d&eacute;but des ann&eacute;es 1930,&nbsp;la premi&egrave;re plateforme a &eacute;t&eacute; d&eacute;velopp&eacute;e dans le Golfe du Mexique sur les c&ocirc;tes du Texas, &agrave; une tr&egrave;s faible profondeur d&#39;eau.&nbsp;Elle servait alors de t&ecirc;te de puits, dans le prolongement des installations se trouvant &agrave; terre.&nbsp;</span></span></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Apr&egrave;s le premier choc p&eacute;trolier de&nbsp;1973, les gouvernements europ&eacute;ens d&eacute;cident de d&eacute;velopper l&#39;exploitation des champs p&eacute;troliers et gaz&eacute;if&egrave;res de la&nbsp;Mer du Nord.&nbsp; Le Royaume-Uni et la Norv&egrave;ge d&eacute;veloppent alors des techniques de forage et de production offshore et construisent les premi&egrave;res plateformes p&eacute;troli&egrave;res dans cette mer particuli&egrave;rement hostile.&nbsp; Pour la&nbsp;premi&egrave;re&nbsp;fois, ces plateformes doivent abriter des hommes pour assurer l&#39;exploitation des gisements.</span></span></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Les normes de s&eacute;curit&eacute; li&eacute;es &agrave; la fabrication et l&#39;installation de plateformes p&eacute;troli&egrave;res ont &eacute;t&eacute; mises en place dans les ann&eacute;es 1970-1980 suite &agrave; des accidents.&nbsp;</span></span></span></p>

<p><strong><span style="font-size:20px"><span style="font-family:Roboto,serif">Futur<a id="futur" name="futur"></a></span></span></strong></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">La dur&eacute;e de vie moyenne d&rsquo;une plateforme est approximativement la m&ecirc;me que celle d&rsquo;un gisement p&eacute;trolier offshore soit environ une trentaine d&rsquo;ann&eacute;es. Selon les l&eacute;gislations nationales et internationales, les compagnies p&eacute;troli&egrave;res ont l&#39;obligation de&nbsp;</span></span></span><a href="https://www.connaissancedesenergies.org/node/347" target="_blank"><span style="color:#252525"><span style="font-family:Roboto,serif"><span style="font-size:medium">d&eacute;manteler les plateformes p&eacute;troli&egrave;res</span></span></span></a><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">&nbsp;lorsqu&#39;elles ne sont plus utilis&eacute;es.&nbsp;</span></span></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Certaines plateformes ne sont pas d&eacute;mantel&eacute;es et restent en l&#39;&eacute;tat, les compagnies pouvant les revendre &agrave; des tiers. De telles plateformes, lorsqu&#39;elles sont dans les&nbsp;eaux internationales, int&eacute;ressent les acheteurs parce qu&#39;elles constituent des &icirc;les artificielles. Certains nouveaux propri&eacute;taires de telles installations en ont fait ou tentent d&#39;en faire des&nbsp;paradis fiscaux&nbsp;ou des micro-&eacute;tats ind&eacute;pendants dont la l&eacute;gislation peut se montrer laxiste &agrave; de nombreux &eacute;gards.</span></span></span></p>

<p><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium">Plus insolites, des projets architecturaux visant &agrave; transformer des plateformes offshore en h&ocirc;tel de luxe sont en cours de d&eacute;veloppement (ex&nbsp;: Agence d&rsquo;architecture Mooris &ndash;&nbsp;</span></span></span><a href="https://www.connaissancedesenergies.org/des-plateformes-petrolieres-reconverties-en-hotel-de-luxe" target="_blank"><span style="color:#252525"><span style="font-family:Roboto,serif"><span style="font-size:medium"><em>Rig ressort</em></span></span></span></a><span style="color:#333333"><span style="font-family:Roboto,serif"><span style="font-size:medium"><em>).</em></span></span></span></p>
