{% extends 'layout/base.html' %} {% load crispy_forms_tags %} {% load static %} {% block content %} {% include "layout/_nav.html" %}

<div id="portfolio" class="portfolio" >
    <div class="container">
        <div class="row">
            <div class="album py-5">
                <div class="section-title pb-3">
                    <h2>Products</h2>
                </div>
                {% if not products %}
                <div class="col-12">There are currently no products active</div>
                {% else %}

                <div class="row portfolio-container">
                    {% for product in products %}
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                        <div class="portfolio-wrap">
                        {% for image in product.product_image.all %} 
                            {% if image.is_feature%}
                            <figure>
                                <img src="{{ image.image.cdn_url }}" class="img-fluid" alt="">
                                <a href="{{ image.image.cdn_url }}" data-gallery="portfolioGallery" class="link-preview portfolio-lightbox"><i class="bx bx-plus"></i></a>
                                <a href="{{ product.get_absolute_url }}" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                            </figure>
                            {% endif %} 
                        {% endfor %}

                        <div class="portfolio-info">
                            <h4><a href="{{ product.get_absolute_url }}">{{ product.title|slice:":50" }}</a></h4>
                            <p>{{ product.title|slice:":50" }}</p>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

        
                {% endif %}
            </div>
        </div>
    </div>

    {% endblock content %}