<div class="collapse show d-md-flex bg-light pt-2 pl-0 min-vh-100" id="sidebar" style="position: fixed;">
    <ul class="nav flex-column flex-nowrap overflow-hidden">
        <li class="nav-item">
            <a class="nav-link text-truncate" href="#presentation"> Présentation de la méthode</a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#risque_2" >Application de l’APR dans le navire </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#matrice" >Matrice de criticité </a>
        </li>
    </ul>
</div>