{% load static %}
<p><span style="font-family:Times New Roman,serif"><span style="font-size:medium"><strong>Analyse pr&eacute;liminaire des risques dans le navire FPSO</strong></span></span>
</p>

<p><span style="font-family:Times New Roman,serif"><span style="font-size:medium"><strong>I- Pr&eacute;sentation de la m&eacute;thode<a id="presentation" name="presentation"></a> </strong></span></span>
</p>

<p><span style="font-family:Times New Roman,serif"><span style="font-size:medium"><strong>a- D&eacute;finition/objectif</strong></span></span>
</p>

<p><span style="font-family:Times New Roman,serif"><span style="font-size:medium">L&rsquo;analyse pr&eacute;liminaire des risques ou </span></span><span style="font-family:Times New Roman,serif"><span style="font-size:medium"><strong>APR</strong></span></span>
    <span style="font-family:Times New Roman,serif"><span style="font-size:medium">, est une d&eacute;marche ou processus visant l&rsquo;&eacute;valuation des probl&egrave;mes a r&eacute;soudre en mati&egrave;re de maitrise de risques&nbsp;; s&rsquo;est une m&eacute;thode utiliser tout au d&eacute;but d&rsquo;un projet de maitrise des risques ,avant les m&eacute;thodes plus fines d&rsquo;&eacute;valuation de risques ( AMDEC,HASOP etc&hellip;.) elle s&rsquo;effectue en 3phases&nbsp;: </span></span>
</p>

<p><span style="font-family:Times New Roman,serif"><span style="font-size:medium">- l&rsquo;identification des dang&eacute;s, des &eacute;v&egrave;nements redoutables &agrave; prendre en compte </span></span>
</p>

<p><span style="font-family:Times New Roman,serif"><span style="font-size:medium">- &eacute;valuation et classement des risques associ&eacute;s </span></span>
</p>

<p><span style="font-family:Times New Roman,serif"><span style="font-size:medium">- propositions des mesures de maitrises des risques </span></span>
</p>

<p><span style="font-family:Times New Roman,serif"><span style="font-size:large"><strong>b- Echelle qualitative et quantitative </strong></span></span>
</p>

<p><strong>Etapes de construction du Tableaux de l&rsquo;APR</strong></p>

<ul>
    <li>
        <p><span style="font-family:Times New Roman,serif"><span style="font-size:medium">Sous syst&egrave;me &eacute;tudier &ndash; phase ou le type de fonctionnement &eacute;tudie </span></span>
        </p>
    </li>
    <li>
        <p><span style="font-family:Times New Roman,serif"><span style="font-size:medium">El&eacute;ments dangereux et &eacute;v&egrave;nements pouvant cr&eacute;e des situations dangereuses </span></span>
        </p>
    </li>
    <li>
        <p><span style="font-family:Times New Roman,serif"><span style="font-size:medium">Ev&egrave;nements associes aux situations dangereuses recens&eacute;es pouvant causer des accidents </span></span>
        </p>
    </li>
    <li>
        <p><span style="font-family:Times New Roman,serif"><span style="font-size:medium">Cons&eacute;quences de l&rsquo;accident</span></span>
        </p>
    </li>
    <li>
        <p><span style="font-family:Times New Roman,serif"><span style="font-size:medium">Classification par gravite G des effets de chaque accident potentiel </span></span>
        </p>
    </li>
    <li>
        <p><span style="font-family:Times New Roman,serif"><span style="font-size:medium">Estimation pr&eacute;liminaire de la probabilit&eacute; d&rsquo;occurrence F de l&rsquo;accident </span></span>
        </p>
    </li>
</ul>

<p><span style="font-family:Times New Roman,serif"><span style="font-size:medium"><u><strong>Tableau 1&nbsp;: &eacute;chelle de fr&eacute;quence </strong></u></span></span>
</p>
<p style="text-align:justify"><img src="{% static 'img/risques/risques_1.png' %}" style="height:495px; width:618px" /></p> <br>

<p><span style="font-family:Times New Roman,serif"><span style="font-size:large"><strong>II- Application de l&rsquo;APR dans le navire<a id="risque_2" name="risque_2"></a> </strong></span></span>
</p>

<p><span style="font-family:Times New Roman,serif"><span style="font-size:large"><strong>a- Tableau de l&rsquo;APR</strong></span></span>
</p> <br>

<p class="mb-0" style="text-align:justify"><img src="{% static 'img/risques/Capture.PNG' %}" style="height:495px; width:900px" /></p>
<p class="mt-0" style="text-align:justify"><img src="{% static 'img/risques/Capture2.PNG' %}" style="height:200px; width:900px" /></p> <br>

<p><span style="font-family:Times New Roman,serif"><span style="font-size:large"><strong>b- Matrice de criticit&eacute;<a id="matrice" name="matrice"></a> </strong></span></span>
</p>

<p><span style="font-family:Times New Roman,serif"><span style="font-size:large"><strong>Grille de criticit&eacute; plane et synth&egrave;se de l&rsquo;APR </strong></span></span>
</p>

<p><span style="font-family:Times New Roman,serif"><span style="font-size:large"><u><strong>Tableau 4&nbsp;: matrice de criticit&eacute; </strong></u></span></span>
</p>

<div class="row">
    <div class="col-6">
        <table class="table">
            <thead>
                <tr>
                    <th>F\G</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>5</td>
                    <td id="15" style="background-color: #ffff00; visibility:visible;"></td>
                    <td id="25" style="background-color: #ff0000; visibility:visible;"></td>
                    <td id="35" style="background-color: #ff0000; visibility:visible;"></td>
                    <td id="45" style="background-color: #ff0000; visibility:visible;"></td>
                    <td id="55" style="background-color: #ff0000; visibility:visible;"></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td id="14" style="background-color: #aaff7f; visibility:visible;"></td>
                    <td id="24" style="background-color: #ffff00; visibility:visible;"></td>
                    <td id="34" style="background-color: #ff0000; visibility:visible;"></td>
                    <td id="44" style="background-color: #ff0000; visibility:visible;"></td>
                    <td id="54" style="background-color: #ff0000; visibility:visible;"></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td id="13" style="background-color: #aaff7f; visibility:visible;"></td>
                    <td id="23" style="background-color: #aaff7f; visibility:visible;"></td>
                    <td id="33" style="background-color: #ffff00; visibility:visible;"></td>
                    <td id="43" style="background-color: #ff0000; visibility:visible;"></td>
                    <td id="53" style="background-color: #ff0000; visibility:visible;"></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td id="12" style="background-color: #aaff7f; visibility:visible;"></td>
                    <td id="22" style="background-color: #aaff7f; visibility:visible;"></td>
                    <td id="32" style="background-color: #aaff7f; visibility:visible;"></td>
                    <td id="42" style="background-color: #ffff00; visibility:visible;"></td>
                    <td id="52" style="background-color: #ff0000; visibility:visible;"></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td id="11" style="background-color: #aaff7f; visibility:visible;"></td>
                    <td id="21" style="background-color: #aaff7f; visibility:visible;"></td>
                    <td id="31" style="background-color: #aaff7f; visibility:visible;"></td>
                    <td id="41" style="background-color: #aaff7f; visibility:visible;"></td>
                    <td id="51" style="background-color: #ffff00; visibility:visible;"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col ml-2">
        <div class="form-inline">
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Fréquence (F):</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control form-control-sm" id="frequence">
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Gravite (G):</label>
                <div class="col-sm-10">
                    <input class="form-control form-control-sm" id="gravite">
                </div>
            </div>
            <button id="calculer" class="btn btn-success" type="submit">Calculer</button>
            <button id="reset" class="btn btn-danger ml-2" type="submit">Reset</button>
        </div>
    </div>
</div> <br>

<p class="mt-0" style="text-align:justify"><img src="{% static 'img/risques/3.png' %}" /></p>

<p><span style="font-family:Times New Roman,serif"><span style="font-size:large"><u><strong>EVALUATION GRAPHIQUE </strong></u></span></span>
</p>

<table cellpadding="7" cellspacing="0" style="width:604px">
    <tbody>
        <tr>
            <td>
                <p><span style="font-family:Times New Roman,serif"><span style="font-size:large">Phases</span></span>
                </p>
            </td>
            <td>
                <p><span style="font-family:Times New Roman,serif"><span style="font-size:large">Gravite </span></span>
                </p>
            </td>
            <td>
                <p><span style="font-family:Times New Roman,serif"><span style="font-size:large">fr&eacute;quence</span></span>
                </p>
            </td>
            <td>
                <p><span style="font-family:Times New Roman,serif"><span style="font-size:large">Niveau de risque </span></span>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p><span style="font-family:Times New Roman,serif"><span style="font-size:large">Production</span></span>
                </p>
            </td>
            <td>
                <p><span style="font-family:Times New Roman,serif"><span style="font-size:large">5</span></span>
                </p>
            </td>
            <td>
                <p><span style="font-family:Times New Roman,serif"><span style="font-size:large">3</span></span>
                </p>
            </td>
            <td>
                <p><span style="font-family:Times New Roman,serif"><span style="font-size:large">Tr&egrave;s &Eacute;l&egrave;ve&nbsp;: </span></span>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p><span style="font-family:Times New Roman,serif"><span style="font-size:large">Stockage</span></span>
                </p>
            </td>
            <td>
                <p><span style="font-family:Times New Roman,serif"><span style="font-size:large">3</span></span>
                </p>
            </td>
            <td>
                <p><span style="font-family:Times New Roman,serif"><span style="font-size:large">3</span></span>
                </p>
            </td>
            <td>
                <p><span style="font-family:Times New Roman,serif"><span style="font-size:large">Moyenne &agrave; &eacute;lev&eacute;</span></span>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p><span style="font-family:Times New Roman,serif"><span style="font-size:large">chargement</span></span>
                </p>
            </td>
            <td>
                <p><span style="font-family:Times New Roman,serif"><span style="font-size:large">3</span></span>
                </p>
            </td>
            <td>
                <p><span style="font-family:Times New Roman,serif"><span style="font-size:large">3</span></span>
                </p>
            </td>
            <td>
                <p><span style="font-family:Times New Roman,serif"><span style="font-size:large">Moyenne &agrave; &eacute;lev&eacute;</span></span>
                </p>
            </td>
        </tr>
    </tbody>
</table>

<p><br /> &nbsp;
</p>