{% extends 'layout/base.html' %} {% load crispy_forms_tags %} {% load static %} {% block content %} {% include "layout/_nav.html" %}

<div class="container portfolio" style="margin-top:130px;" id="portfolio" >
  <div class="col-12 mx-auto" >
  <h1 class="h3">My Wishlist</h1>
  <div>Manage your Wishlist</div>
  <hr />

  {% if wishlist %}

  <div class="row portfolio-container">
    {% for product in wishlist  %}

    <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
        <div class="portfolio-wrap">
        {% for image in product.product_image.all %} 
            {% if image.is_feature%}
            <figure>
                <img src="{{ image.image.url }}" class="img-fluid" alt="">
                <a href="{{ image.image.url }}" data-gallery="portfolioGallery" class="link-preview portfolio-lightbox"><i class="bx bx-plus"></i></a>
                <a href="{{ product.get_absolute_url }}" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
            </figure>
            {% endif %} 
        {% endfor %}

        <div class="portfolio-info">
            <h4><a href="{{ product.get_absolute_url }}">{{ product.title|slice:":50" }}</a></h4>
            <p>{{ product.title|slice:":50" }}</p>
            
            <a type="button" class="btn btn-primary fw500 btn-sm" href="{% url 'Accounts:user_wishlist' product.id %}">Remove from Wishlist</a>
            <button type="button" id="add-button" value="{{product.id}}" class="btn btn-secondary btn-sm ">Add to basket</button>
          
        </div>
        
        </div>
    </div>

    {% endfor %}
  </div>

  {% else %}
  <p class="card-text">No products have been added to your wishlist yet</p>
  {% endif %}

</div>

</div>

{% endblock %}

{% block javascript %} 
  
  <script>
    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "Basket:basket_add" %}',
            data: {
                productid: $('#add-button').val(),
                productqty: $('#select option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
               document.getElementById("basket-qty").innerHTML = json.qty
            },
            error: function (xhr, errmsg, err) {}
        });
        location.reload();
    })
  </script>
  {% endblock %}