{% extends 'layout/base.html' %} {% load crispy_forms_tags %} {% load static %} {% block content %} {% include "layout/_nav.html" %}


<section id="testimonials" class="testimonials section-bg" style="margin-top:10px;">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <img src="{% static 'assets/img/amie_agbor/About.png' %}" class="w-100 img-fluid" alt="" srcset="">
            </div>
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>ABOUT US</h2>
                </div>
                <p class="text-justify">
                    D & E Accessories was born out of a passion for fashion and started life back in
                    2017 with a mission to become Cameroon’s biggest children and adult hair
                    accessory brand.
                    <br><br>
                    In our humble beginnings our founder would create beautiful headpieces and
                    accessories for children and women attending glamorous occasions like weddings,
                    banquets and award ceremonies
                    <br><br>
                    With an eye for beautiful design and quality craft, the popularity of her unique hair
                    pieces and headwear has grown across Cameroon and beyond. To keep up with the
                    demand, she has decided to create D & E accessories, an online shop store selling
                    beautifully crafted headpieces for children, headbands and fascinators for women
                    at affordable prices.
                </p>
            </div>
        </div>
        <br>

        {% comment %} <div class="section-title mt-2">
            <h2>The teams</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="row">

                {% for team in teams %}
                
                    <div class="col-lg-4">
                        <div class="testimonial-item ">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i> 
                                    {{ team.description }}
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="{{ team.image.cdn_url }}" class="testimonial-img img-fluid" alt="{{ team.name }}">
                            <h3>{{ team.name }}</h3>
                            <h4>{{ team.grade }}</h4>
                        </div>
                    </div>

                {% endfor %}

                
                <!-- End testimonial item -->

                

            </div>
            <div class="swiper-pagination"></div>
        </div> {% endcomment %}

    </div>
</section>



{% endblock content %}