{% extends 'layout/base.html' %} {% load crispy_forms_tags %} {% load static %} {% block content %} {% include "layout/_nav.html" %}


<section id="testimonials" class="testimonials section-bg" style="margin-top:10px;">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <img src="{% static 'assets/img/about_us.jpg' %}" class="w-100 img-fluid" alt="" srcset="">
            </div>
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>ABOUT US</h2>
                </div>
                <p class="text-justify">
                    Design Genius is a Startup Based in Cameroon. We Design and Build Machines that solves Problems in Africa (Products for Africa by Africans). These machines increase productivity while reducing stress in domains such as Agriculture, Food processing and
                    the Transformation sector using Numerical Fabrication with IoT(Internet of Things). To Prevent Companies, Businesses or individuals from spending years Developing their team for Product Design and Development of new Product or Existing
                    Products, we solve the problem through Engineering, Product Design, Prototyping and testing, with Manufacturing and marketing support. We help you take your product to the market as quick as possible.
                </p>
            </div>
        </div>
        <br>

        <div class="section-title mt-2">
            <h2>The teams</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="row">

                {% for team in teams %}
                
                    <div class="col-lg-4">
                        <div class="testimonial-item ">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i> 
                                    {{ team.description }}
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="{{ team.image.cdn_url }}" class="testimonial-img img-fluid" alt="{{ team.name }}">
                            <h3>{{ team.name }}</h3>
                            <h4>{{ team.grade }}</h4>
                        </div>
                    </div>

                {% endfor %}

                
                <!-- End testimonial item -->

                

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>



{% endblock content %}