{% load static %}
<div class="container-fluid row p-2" style="margin-left: auto;margin-right: auto; margin-top: 65px;">

        <div class="col">

			<div class="pull-left">
				<button type="button" class="btn btn-primary btn-sm">Imprimer en pdf</button>
			</div>

			<div class="pull-right">
				<button type="button" id="calcul" onclick="calcul()" class="btn btn-primary btn-sm">Calcul</button>
				<button type="button" id="analyseG" onclick="analyseG()" class="btn btn-secondary btn-sm">Analyse global</button>
				<button type="button" id="evaluateG" onclick="evaluateG()" class="btn btn-secondary btn-sm">Evaluation graphique</button>
				
			</div>
			
			<br><br>

			<div id="myModal" class="modal">

				<!-- Modal content -->
				<div class="modal-content">
				  <span class="close">&times;</span>

                  <div class="row">
                    <div class="col-8">
                        <canvas style="height: 100%;" id="myChart"></canvas>
                    </div>
                    <div class="col-4">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="p-0" style="background-color: green;" > C1 </td>
                                    <td class="p-0" style="background-color: green;" > <output id="Ci1P"></output> </td>
                                    <td class="p-0" style="background-color: green;" > <output id="Ci1"></output>  </td>
                                </tr>
                                <tr>
                                    <td class="p-0" style="background-color: yellow;" > C1 </td>
                                    <td class="p-0" style="background-color: yellow;" > <output id="Ci2P"></output> </td>
                                    <td class="p-0" style="background-color: yellow;" > <output id="Ci2"></output>  </td>
                                </tr>
                                <tr>
                                    <td class="p-0" style="background-color: red;" > C1 </td>
                                    <td class="p-0" style="background-color: red;" > <output id="Ci3P"></output> </td>
                                    <td class="p-0" style="background-color: red;" > <output id="Ci3"></output>  </td>
                                </tr>
                                <tr>
                                    <td class="p-0"  > Total </td>
                                    <td class="p-0"  >  </td>
                                    <td class="p-0"  > <output id="out_TI"></output> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                 </div>
                 <hr>

                 <div class="row">
                    <div class="col-8">
                        <canvas style="height: 100%;" id="myChartr"></canvas>
                    </div>
                    <div class="col-4">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="p-0" style="background-color: green;" > C1 </td>
                                    <td class="p-0" style="background-color: green;" > <output id="Cr1P"></output> </td>
                                    <td class="p-0" style="background-color: green;" > <output id="Cr1"></output>  </td>
                                </tr>
                                <tr>
                                    <td class="p-0" style="background-color: yellow;" > C1 </td>
                                    <td class="p-0" style="background-color: yellow;" > <output id="Cr2P"></output> </td>
                                    <td class="p-0" style="background-color: yellow;" > <output id="Cr2"></output>  </td>
                                </tr>
                                <tr>
                                    <td class="p-0" style="background-color: red;" > C1 </td>
                                    <td class="p-0" style="background-color: red;" > <output id="Cr3P"></output> </td>
                                    <td class="p-0" style="background-color: red;" > <output id="Cr3"></output>  </td>
                                </tr>
                                <tr>
                                    <td class="p-0"  > Total </td>
                                    <td class="p-0"  >  </td>
                                    <td class="p-0"  > <output id="out_TR"></output> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                 </div>
				  
				</div>
			  
			</div>

            <div id="myModal2" class="modal2">

				<!-- Modal content -->
				<div class="modal-content">
				    <span class="close2">&times;</span>

                    <div class="row">
                        <div class="col">
                            <canvas style="height: 100%;" id="myChart3"></canvas>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <canvas style="height: 100%;" id="myChart4"></canvas>
                        </div>
                    </div>

                </div>			  
			</div>

            <table class="table table-bordered">
                <!-- <thead>
                    <tr>
                        <th>
                            Avant les mesures de preventions et de protection (etat initial)
                        </th>
                        <th>
                            Application des mesures de
                        </th>
                        <th>
                            Apres les mesures de preventions et de protections (etat residuel)
                        </th>
                    </tr>
                </thead> -->
                <thead>
                    <tr>
                        <th>Scenario</th>
						<th style="color: red;">Phase</th>
                        <th style="color: brown;">Sous systeme</th>
                        <th style="color: red;">Cout d'estimation initial</th>
                        <th style="color: green;">Evenement contact</th>
                        <th style="color: darkgoldenrod;">Situation dangereuse</th>
                        <th>Element dangereux</th>
                        <th style="color: darkcyan;">Evenement redoute</th>
                        <th style="color: blue;">Consequence</th>
                        <th style="color: red;">Gi</th>
                        <th style="color: red;">Fi</th>
                        <th style="color: red;">Ci</th>
                        <th>Mesure de prevention</th>
                        <th style="color: darkgoldenrod;">Gr</th>
                        <th style="color: darkgoldenrod;">Fr</th>
                        <th style="color: darkgoldenrod;">Cr</th>
                        <th style="color: red;">Cout d'estimation residuel</th>
                    </tr>
                </thead>

                <tbody>
                    <tr >
                        <td class="p-0"> <input class="w-100 border-0" value="0" id="00" type="number"> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name=""  cols="60" rows="6"></textarea> </td>
                        <td class="p-0"> <textarea class="w-100 border-0" name=""  cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <input class="w-100 border-0" value="0" id="01" type="number"> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('02')" id="02" type="number"> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('03')" id="03" type="number"> </td>
                        <td class="p-0"> <output id="04" class="w-100 h-100" ></output> </td>
                        <td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('05')" id="05" type="number"> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('06')" id="06" type="number"> </td>
                        <td class="p-0"> <output id="07" class="w-100 h-100" ></output> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" id="08" type="number"> </td>
                    </tr>

					<tr >
                        <td class="p-0"> <input class="w-100 border-0" value="0" id="10" type="number"> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name=""  cols="60" rows="6"></textarea> </td>
                        <td class="p-0"> <textarea class="w-100 border-0" name=""  cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <input class="w-100 border-0" value="0" id="11" type="number"> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('12')" id="12" type="number"> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('13')" id="13" type="number"> </td>
                        <td class="p-0"> <output id="14" class="w-100 h-100" ></output> </td>
                        <td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('15')" id="15" type="number"> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('16')" id="16" type="number"> </td>
                        <td class="p-0"> <output id="17" class="w-100 h-100" ></output> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" id="18" type="number"> </td>
                    </tr>

					<tr >
                        <td class="p-0"> <input class="w-100 border-0" value="0" id="20" type="number"> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name=""  cols="60" rows="6"></textarea> </td>
                        <td class="p-0"> <textarea class="w-100 border-0" name=""  cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <input class="w-100 border-0" value="0" id="21" type="number"> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('22')" id="22" type="number"> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('23')" id="23" type="number"> </td>
                        <td class="p-0"> <output id="24" class="w-100 h-100" ></output> </td>
                        <td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('25')" id="25" type="number"> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('26')" id="26" type="number"> </td>
                        <td class="p-0"> <output id="27" class="w-100 h-100" ></output> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" id="28" type="number"> </td>
                    </tr>

					<tr >
                        <td class="p-0"> <input class="w-100 border-0" value="0" id="30" type="number"> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name=""  cols="60" rows="6"></textarea> </td>
                        <td class="p-0"> <textarea class="w-100 border-0" name=""  cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <input class="w-100 border-0" value="0" id="31" type="number"> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('32')" id="32" type="number"> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('33')" id="33" type="number"> </td>
                        <td class="p-0"> <output id="34" class="w-100 h-100" ></output> </td>
                        <td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('35')" id="35" type="number"> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('36')" id="36" type="number"> </td>
                        <td class="p-0"> <output id="37" class="w-100 h-100" ></output> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" id="38" type="number"> </td>
                    </tr>

					<tr >
                        <td class="p-0"> <input class="w-100 border-0" value="0" id="40" type="number"> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name=""  cols="60" rows="6"></textarea> </td>
                        <td class="p-0"> <textarea class="w-100 border-0" name=""  cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <input class="w-100 border-0" value="0" id="41" type="number"> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('42')" id="42" type="number"> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('43')" id="43" type="number"> </td>
                        <td class="p-0"> <output id="44" class="w-100 h-100" ></output> </td>
                        <td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('45')" id="45" type="number"> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('46')" id="46" type="number"> </td>
                        <td class="p-0"> <output id="47" class="w-100 h-100" ></output> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" id="48" type="number"> </td>
                    </tr>

					<tr >
                        <td class="p-0"> <input class="w-100 border-0" value="0" id="50" type="number"> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name=""  cols="60" rows="6"></textarea> </td>
                        <td class="p-0"> <textarea class="w-100 border-0" name=""  cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <input class="w-100 border-0" value="0" id="51" type="number"> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('52')" id="52" type="number"> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('53')" id="53" type="number"> </td>
                        <td class="p-0"> <output id="54" class="w-100 h-100" ></output> </td>
                        <td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('55')" id="55" type="number"> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('56')" id="56" type="number"> </td>
                        <td class="p-0"> <output id="57" class="w-100 h-100" ></output> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" id="58" type="number"> </td>
                    </tr>

					<tr >
                        <td class="p-0"> <input class="w-100 border-0" value="0" id="60" type="number"> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name=""  cols="60" rows="6"></textarea> </td>
                        <td class="p-0"> <textarea class="w-100 border-0" name=""  cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <input class="w-100 border-0" value="0" id="61" type="number"> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
						<td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('62')" id="62" type="number"> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('63')" id="63" type="number"> </td>
                        <td class="p-0 "> <output id="64" class="w-100 h-100" ></output> </td>
                        <td class="p-0"> <textarea class="w-100 border-0" name="" id="" cols="60" rows="6"></textarea> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('65')" id="65" type="number"> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" min="0" max="5" onchange="change('66')" id="66" type="number"> </td>
                        <td class="p-0"> <output id="67" class="w-100 h-100" ></output> </td>
                        <td class="p-0"> <input class="w-100 border-0" value="0" id="68" type="number"> </td>
                    </tr>

					<tr>
                        <td class="p-0">  </td>
						<td class="p-0">  </td>
                        <td class="p-0">  </td>
						<td class="p-0"> <output id="71" class="w-100 h-100" ></output> </td>
						<td class="p-0">  </td>
						<td class="p-0">  </td>
						<td class="p-0">  </td>
						<td class="p-0">  </td>
						<td class="p-0">  </td>
                        <td class="p-0">  </td>
                        <td class="p-0">  </td>
                        <td class="p-0">  </td>
                        <td class="p-0">  </td>
                        <td class="p-0">  </td>
                        <td class="p-0"> </td>
                        <td class="p-0"> </td>
						<td class="p-0"> <output id="78" class="w-100 h-100" ></output> </td>
                    </tr>
					
                    
                </tbody>
            </table>

        </div>

    </div>
</div>

