{% extends 'layout/base.html' %} {% load crispy_forms_tags %} {% load static %} {% block content %} {% include "layout/_nav.html" %}

<div class="container" style="margin-top:130px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/stores">Stores</a></li>
          <li class="breadcrumb-item"><a href="/basket">Basket</a></li>
          <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
    </nav>
    {% if messages %}
        <div class="alert alert-warning" alert-{{ message.tags }} role="alert">
            {% for message in messages %} {{message|safe}} {% endfor %}
        </div>
    {% endif %}
    <div class="row container">
        <div class="col-lg-8 ">
            <form class="form-group" action="" method="post">
                {% csrf_token %} 
                <div class="col-lg-6 col-md-12">
                    {{ form.address|as_crispy_field }}
                </div>
                <div class="col-lg-6 col-md-12">
                    {{ form.city|as_crispy_field }}
                </div>
                <div class="col-lg-6 col-md-12">
                    {{ form.postal_code|as_crispy_field }}
                </div>
                <div class="col-lg-6 col-md-12">
                    {{ form.country_code|as_crispy_field }}
                </div>
                <div class="col-lg-6 col-md-12">
                    {{ form.payment_option|as_crispy_field }}
                </div>
                <div class="col-lg-6 col-md-12">
                    {{ form.id_trasaction|as_crispy_field }}
                </div>
                
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>

        <div class="col-lg-4 text-center align-self-center">
            <p class="">Prix total: $ {{ prixTotal }} </p>
            <img id="image_wallet" class="h-100 w-100" hidden src="">
            <div class="row" hidden id="zone_texte">
                <p>Faitez le depot sur ce numero <strong id="numero"></strong> </p> <br>
                <p id="nom_transaction"></p>
            </div>
        </div>
    </div>



</div>


{% endblock content %} {% block javascript %}

<script>
    document.querySelector("#id_payment_option").addEventListener("click", event => {
        event.preventDefault();
        let formData = new FormData();
        var id = event.target.value;
        formData.append('id', id);

        // On récupère la valeur du jeton CSRF
        let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const request = new Request('{% url "Orders:payementSelect" %}', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': csrfTokenValue
            } // On ajoute le token dans l'en-tête
        });

        // On exécute la requête
        fetch(request)
            .then(response => response.json())
            .then(result => {
                if (typeof result["payement_method_info"] === 'object') {
                    numero = result["payement_method_info"][0];
                    nom = result["payement_method_info"][1];
                    const resultElement_numero = document.querySelector("#numero");
                    const resultElement_nom = document.querySelector("#nom_transaction");
                    resultElement_numero.innerHTML = numero;
                    resultElement_nom.innerHTML = nom;
                    $("#image_wallet").attr("hidden", true);
                    // $("#id_id_trasaction").removeAttr('hidden');
                    $("#zone_texte").removeAttr('hidden');
                } else {
                    $("#image_wallet").attr("src", result["payement_method_info"]);
                    $("#zone_texte").attr("hidden", true);
                    // $("#id_id_trasaction").attr("hidden", true);
                    $("#image_wallet").removeAttr('hidden');
                }
            })
    })

    $(document).ready(function() {

        $("#id_total_paid").attr("hidden", true);
        $("#id_total_paid").val(00);
        let formData = new FormData();
        var id = $("#id_payment_option").val();
        formData.append('id', id);

        // On récupère la valeur du jeton CSRF
        let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const request = new Request('{% url "Orders:payementSelect" %}', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': csrfTokenValue
            } // On ajoute le token dans l'en-tête
        });

        // On exécute la requête
        fetch(request)
            .then(response => response.json())
            .then(result => {
                if (typeof result["payement_method_info"] === 'object') {
                    numero = result["payement_method_info"][0];
                    nom = result["payement_method_info"][1];
                    const resultElement_numero = document.querySelector("#numero");
                    const resultElement_nom = document.querySelector("#nom_transaction");
                    resultElement_numero.innerHTML = numero;
                    resultElement_nom.innerHTML = nom;
                    $("#image_wallet").attr("hidden", true);
                    $("#id_id_trasaction").removeAttr('hidden');
                    $("#zone_texte").removeAttr('hidden');
                } else {
                    $("#image_wallet").attr("src", result["payement_method_info"]);
                    $("#zone_texte").attr("hidden", true);
                    $("#id_id_trasaction").attr("hidden", true);
                    $("#image_wallet").removeAttr('hidden');
                }
            })
    })
</script>

{% endblock %}