{% extends 'layout/base.html' %} {% load crispy_forms_tags %} {% load static %} {% block content %} {% include "layout/_nav.html" %}

<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
<div class="container portfolio-details" id="portfolio-details" style="margin-top:90px;">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Forums</li>
        </ol>
      </nav>
    {% if messages %}
        <div class="alert alert-warning" alert-{{ message.tags }} role="alert">
            {% for message in messages %} {{message|safe}} {% endfor %}
        </div>
    {% endif %}

    <div class="section-title pb-3">
        <h2>Forum</h2>
    </div>

    <div class="row mb-3 container ">
        <a class="btn btn-success col-2 d-block mx-auto" href="{% url 'forum-add' %}">Create forum</a>
    </div>

    <div class="row ">

        <!-- Main content -->
        <div class="col-lg-9 mb-3 d-block mx-auto">
            {% for forum in object_list %}
            <!-- End of post 1 -->
            <div class="card row-hover pos-relative py-3 px-3 mb-3  border-top-0 border-right-0 border-bottom-0 rounded-0">
                <div class="row align-items-center">
                    <div class="col-md-8 mb-3 mb-sm-0">
                        <h5>
                            <a href=" {{ forum.get_absolute_url }} " class="text-primary text-capitalize"> {{ forum.title }} </a>
                        </h5>
                        <p class="text-sm text-muted"><span class="op-6">Posted</span> <a class="text-black" href="#"> {{forum.created_at}} </a> <span class="op-6">ago by</span> <a class="text-black" href="#">{{ forum.user.name }}</a>

                        </p>

                        <div>
                            {% if request.user == forum.user %}
                                <a href="{% url 'forum-edit' forum.id %}">Update</a>
                                <form method="post" action="{% url 'forum-delete' forum.id %}">
                                    {% csrf_token %}
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            {% endif %}
                        </div>
                        <!-- <div class="text-sm text-muted op-5"> <a class="text-black mr-2" href="#">#C++</a> <a class="text-black mr-2" href="#">#AppStrap Theme</a> <a class="text-black mr-2" href="#">#Wordpress</a> </div> -->
                    </div>
                    <!-- <div class="col-md-4 op-7">
                        <div class="row text-center op-7">
                            <div class="col px-1"> <i class="text-muted ion-connection-bars icon-1x"></i> <span class="d-block text-sm text-muted">141 Votes</span> </div>
                            <div class="col px-1"> <i class="text-muted ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm text-muted">1 Replys</span> </div>
                            <div class="col px-1"> <i class="text-muted ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm text-muted">290 Views</span> </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- /End of post 1 -->
            {% empty %}
            <li>No articles yet.</li>
            {% endfor %}

        </div>

    </div>
</div>

{% endblock content %}