{% extends 'layout/base.html' %} {% load static %} {% block content %}
<div class="container-fluid" style="height:100vh;">
    {% include "layout/_nav.html" %}
    <nav aria-label="breadcrumb " class="container-fluid" style="background-color: white;">
        <ol class="breadcrumb " style="background-color: white;">
            <li class="breadcrumb-item">
                <span class="fa fa-home pt-1 mr-1"></span>
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page"><span class="fa fa-user-plus pt-1 mr-1"></span>Register</li>
        </ol>
    </nav>
    <div class="container">
        <div class="row p-2">
            <div class="col-lg-12">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="row form-group">
                                <label class="col-lg-4" for="exampleInputEmail1">Username</label>
                                <input type="text" name="username" class="form-control col-lg-8" aria-describedby="emailHelp" placeholder="Username">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group row">
                                <label class="col-lg-4" for="exampleInputEmail1">First name</label>
                                <input type="text" name="firstname" class="form-control col" aria-describedby="emailHelp" placeholder="Firstname">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group row">
                                <label class="col-lg-4" for="exampleInputEmail1">Last name</label>
                                <input type="text" name="lastname" class="form-control col" aria-describedby="emailHelp" placeholder="Lastname">
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-lg-4">
                            <div class="form-group row">
                                <label class="col-4" for="exampleInputEmail1">Email</label>
                                <input type="mail" name="email" class="form-control col" aria-describedby="emailHelp" placeholder="Email">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group row">
                                <label class="col-lg-4" for="exampleInputEmail1">Password</label>
                                <input type="password" name="password" class="form-control col" aria-describedby="emailHelp" placeholder="Password">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group row">
                                <label class="col-lg-4" for="exampleInputEmail1">Confirm</label>
                                <input type="password" name="confirm_password" class="form-control col" aria-describedby="emailHelp" placeholder="Confirm password">
                            </div>
                        </div>


                    </div>

                    <div class="row">

                        <div class="col-lg-4">
                            <div class="form-group row">
                                <label class="col-4" for="exampleInputEmail1">Telephone</label>
                                <input type="number" name="telephone" class="form-control col" aria-describedby="emailHelp" placeholder="Telephone">
                            </div>
                        </div>

                    </div>

                    <div class="form-group row">
                        <button type="submit" class="btn btn-primary m-2">Register</button>
                        <button type="submit" class="btn btn-danger m-2">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
