<div class="collapse show d-md-flex bg-light pt-2 pl-0 min-vh-100" id="sidebar" style="position: fixed;">
    <ul class="nav flex-column flex-nowrap overflow-hidden">
        <li class="nav-item">
            <a class="nav-link text-truncate" href="#origine"> Classification selon l’origine</a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#activite" >Classification selon l’activité </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#nature" >Classification selon la nature</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#niveau" >Classification selon le niveau</a>
        </li>

    </ul>
</div>