<p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:12pt"><strong>Classification selon l&rsquo;origine</strong></span></span><span style="font-family:Times New Roman,Times,serif"><span style="font-size:12pt"><strong>&nbsp;<a id="origine" name="origine"></a></strong></span></span></p>

<p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:12pt">Les risques selon leur origine peuvent &ecirc;tre regroup&eacute;s en deux cat&eacute;gories&nbsp;:</span></span></p>

<ul>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:12pt">Le risque interne&nbsp;: c&rsquo;est le risque r&eacute;sultant de l&rsquo;organisation et du fonctionnement de l&rsquo;entreprise.</span></span></p>
	</li>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:12pt">Le risque externe&nbsp;: risque produit par des facteurs externes, ind&eacute;pendant de l&rsquo;organisation et du fonctionnement de l&rsquo;entreprise.</span></span></p>
	</li>
</ul>

<p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:12pt"><strong>Classification selon l&rsquo;activit&eacute;</strong></span></span><span style="font-family:Times New Roman,Times,serif"><span style="font-size:12pt"><strong>&nbsp;<a id="activite" name="activite"></a></strong></span></span></p>

<ul>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:12pt">Les risques strat&eacute;giques&nbsp;: ils sont li&eacute;s &agrave; l&rsquo;absence d&rsquo;une vision, au d&eacute;ploiement d&rsquo;une mauvaise strat&eacute;gie, &agrave; l&rsquo;absence de veille technologique </span></span></p>
	</li>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:12pt">Les risques op&eacute;rationnels&nbsp;: ils touchent au mod&egrave;le &eacute;conomique de l&rsquo;entreprise, &agrave; son fonctionnement, &agrave; sa chaine de valeur (la production, le transport, la distribution, etc&hellip;) </span></span></p>
	</li>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:12pt">Les risques humains&nbsp;: </span></span></p>
	</li>
</ul>

<p style="margin-left:48px; text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:12pt">Les risques environnementaux&nbsp;: c&rsquo;est l&rsquo;ensemble des facteurs internes et externes li&eacute;s &agrave; l&rsquo;environnement dans lequel fonctionne l&rsquo;entreprise et susceptibles d&rsquo;emp&ecirc;cher l&rsquo;atteinte de ses objectifs </span></span></p>

<p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:12pt"><strong>Classification selon la nature</strong></span></span><span style="font-family:Times New Roman,Times,serif"><span style="font-size:12pt"><strong>&nbsp;<a id="nature" name="nature"></a></strong></span></span></p>

<p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:12pt">Il existe deux types de risques selon la nature&nbsp;: </span></span></p>

<ul>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:12pt">Le risque inh&eacute;rent&nbsp;: c&rsquo;est le risque th&eacute;orique li&eacute; &agrave; l&rsquo;activit&eacute;. On peut aussi le d&eacute;finir comme le risque initial, avant toute mesure de ma&icirc;trise (contr&ocirc;le interne).</span></span></p>
	</li>
	<li>
	<p><span style="font-family:Times New Roman,Times,serif"><span style="font-size:12pt">Le risque r&eacute;siduel&nbsp;: c&rsquo;est le risque subsistant apr&egrave;s la mise en &oelig;uvre de dispositifs de</span></span></p>
	</li>
</ul>

<p style="margin-left:24px; text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:12pt">Ma&icirc;trise (contr&ocirc;le interne).</span></span></p>

<p><span style="font-size:16px"><strong>Classification selon le niveau</strong></span><a id="niveau" name="niveau"></a></p>

<p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:12pt">Selon le niveau du risque, on distingue trois types de risques&nbsp;:</span></span></p>

<p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:12pt">Le risque potentiel&nbsp;: c&rsquo;est un risque commun &agrave; tout entreprise, qui est susceptible de se produire si aucun contr&ocirc;le n&rsquo;est exerc&eacute; </span></span></p>

<ul>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:12pt">Le risque av&eacute;r&eacute;&nbsp;:</span></span><span style="font-family:Times New Roman,Times,serif"><span style="font-size:12pt"> c&rsquo;est un risque d&eacute;j&agrave; mat&eacute;rialis&eacute; et son impact doit &ecirc;tre &eacute;valu&eacute; afin de d&eacute;finir une politique efficace pour sa maitrise </span></span></p>
	</li>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,Times,serif"><span style="font-size:12pt">Le risque possible&nbsp;:</span></span><span style="font-family:Times New Roman,Times,serif"><span style="font-size:12pt"> c&rsquo;est un risque potentiel contre lequel l&rsquo;entreprise ne s&rsquo;est pas dot&eacute;e de moyens pour le d&eacute;tecter, le limiter ou le corriger</span></span></p>
	</li>
</ul>
