<div class="collapse show d-md-flex bg-light pt-2 pl-0 min-vh-100" id="sidebar" style="position: fixed;">
    <ul class="nav flex-column flex-nowrap overflow-hidden">
        <li class="nav-item">
            <a class="nav-link text-truncate" href="#consigne"> Consigne générale</a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#regles" >Les règles d’or de la sécurité </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#mesures" >Les mesures de préventions </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#equipements" >Les equipements de protection</a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#instruction" >Instructions a suivre</a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#codeSecu" >Les codes de securite</a>
        </li>
    </ul>
</div>