{% extends 'layout/base.html' %} {% load crispy_forms_tags %} {% load static %} {% block content %} {% include "layout/_nav.html" %}

<div class="container" style="margin-top:130px;">
    
    <div class="row container">
        
        <div class="col-lg-8 d-block mx-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="/basket">Basket</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Send message</li>
                </ol>
            </nav>
            {% if messages %}
                <div class="alert alert-warning" alert-{{ message.tags }} role="alert">
                    {% for message in messages %} {{message|safe}} {% endfor %}
                </div>
            {% endif %}
            <h2 class="text-center">Send message</h2>
            

            <div class="form-group">
                <div class="col-lg-12 col-md-12">
                    <label> Message </label>
                    <textarea class="form-control" id="message" name="message" rows="4" cols="50"></textarea>
                </div>
                <br>
                {% comment %} <button class="btn btn-success" type="submit" name="button">Submit</button> {% endcomment %}
                {% comment %} <a type="button" id="test-btn" class="btn btn-success" >Submit</a> {% endcomment %}

                <button class="btn btn-success" onclick="NewTab()">Submit</button>
            </div>

        </div>
    </div>
    <script>
        function NewTab() {
            const val = document.querySelector('message').value;
            window.open(
                "{{ uri }}", "_blank");
        }
    </script>
</div>

{% endblock%}


