{% extends 'layout/base.html' %} {% load crispy_forms_tags %} {% load static %} {% block content %} {% include "layout/_nav.html" %}

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<div class="container portfolio-details" id="portfolio-details" style="margin-top:80px;">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Blogs</li>
        </ol>
      </nav>

    {% if messages %}
        <div class="alert alert-warning" alert-{{ message.tags }} role="alert">
            {% for message in messages %} {{message|safe}} {% endfor %}
        </div>
    {% endif %}
    <div class="section-title pb-1">
        <h2>Blog</h2>
    </div>

    <div class="container ">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8 left d-block mx-auto">
                {% for post in post_list %}
                <div class="card mb-2">
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                        <p class="card-text">{{post.content|slice:":110"|safe }}...</p>
                        <a href="{% url 'Blogs:post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>

{%endblock%}