<div class="collapse show d-md-flex bg-light pt-2 pl-0 min-vh-100" id="sidebar" style="position: fixed;">
    <ul class="nav flex-column flex-nowrap overflow-hidden">
        <li class="nav-item">
            <a class="nav-link text-truncate" href="#levage"> Les travaux de levage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#hauteur" >Travaux en hauteur</a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#superposes" >Les travaux superposés</a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#fouille" >Travaux de fouille</a>
        </li>
    </ul>
</div>