{% load static %}
<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large"><u><strong>RISQUES SPECIFIQUES AUX DIFFERENTS TRAVAUX EFFECTUE SUR UN SITE</strong></u></span></span></p>

<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Plusieurs types de travaux sont effectu&eacute;s dans un site et peuvent &ecirc;tre permanent en fonction des op&eacute;rations a effectu&eacute;es dans chaque &eacute;tapes de l&rsquo;exploitation p&eacute;troli&egrave;re&nbsp;; en effet, ces travaux pr&eacute;sentent de nombreux risques pouvant nu&egrave;rent a la vie des ouvriers&nbsp;; ont en distingue&nbsp;:</span></span></p>

<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large"><strong>Les travaux de levage</strong></span></span><span style="font-family:Times New Roman,serif"><span style="font-size:large">&nbsp;:<a id="levage" name="levage"></a></span></span></p>

<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Comme risques associ&eacute;s aux travaux de levage ont na&nbsp;:</span></span></p>

<ul>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Blessures au personnel&nbsp;;</span></span></p>
	</li>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Collision avec des obstacles fixes avec endommagement potentiel et d&eacute;versement d&rsquo;HC dans</span></span></p>
	</li>
</ul>

<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Le cas d&rsquo;&eacute;quipements sous pression&nbsp;:</span></span></p>

<ul>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Renversement de la grue&nbsp;;</span></span></p>
	</li>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Electrocution.</span></span></p>
	</li>
</ul>

<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large"><strong>Travaux en hauteur&nbsp;:<a id="hauteur" name="hauteur"></a></strong></span></span></p>

<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Parmi les risques associe aux travaux en hauteur on distingue&nbsp;:</span></span></p>

<ul>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Chute de personne&nbsp;;</span></span></p>
	</li>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Chute d&rsquo;objet&nbsp;;</span></span></p>
	</li>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Glissement d&rsquo;une &eacute;chelle&nbsp;;</span></span></p>
	</li>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Effondrement partiel ou total d&rsquo;un &eacute;chafaudage&nbsp;;</span></span></p>
	</li>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Renversement d&rsquo;un &eacute;chafaudage&nbsp;</span></span></p>
	</li>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Exposition &agrave; des risques dans l&rsquo;environnement de travail avant &eacute;vacuation&nbsp;;</span></span></p>
	</li>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Manipulation de mat&eacute;riaux ou &eacute;quipements lourds et encombrant&nbsp;;</span></span></p>
	</li>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Choc &eacute;lectrique.</span></span></p>
	</li>
</ul>

<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large"><strong>Les travaux superpos&eacute;s&nbsp;:<a id="superposes" name="superposes"></a></strong></span></span></p>

<ul>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Malaise&nbsp;;</span></span></p>
	</li>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Trouble psychologique&nbsp;;</span></span></p>
	</li>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Confusion totale&nbsp;;</span></span></p>
	</li>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Mauvaises manipulation.</span></span></p>
	</li>
</ul>

<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large"><strong>Travaux de fouille<a id="fouille" name="fouille"></a></strong></span></span></p>

<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Dans les travaux de fouilles, on peut avoir comme risques&nbsp;:</span></span></p>

<ul>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Endommagements de canalisation enterr&eacute;e&nbsp;;</span></span></p>
	</li>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Endommagement des c&acirc;bles &eacute;lectriques ou des fibres optiques enterr&eacute;es&nbsp;;</span></span></p>
	</li>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Effondrement de tranch&eacute;e&nbsp;;</span></span></p>
	</li>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Suffocation&nbsp;;</span></span></p>
	</li>
	<li>
	<p style="text-align:justify"><span style="font-family:Times New Roman,serif"><span style="font-size:large">Chute dans la tranch&eacute;e.</span></span></p>
	</li>
</ul>