<div class="collapse show d-md-flex bg-light pt-2 pl-0 min-vh-100" id="sidebar" style="position: fixed;">
    <ul class="nav flex-column flex-nowrap overflow-hidden">
        
        <li class="nav-item">
            <a class="nav-link text-truncate" href="#methode" > Méthode d'analyse de risques</a>
            <ul>
                <li class="nav-item">
                    <a class="dropdown-item" href="#identification">Identification de risque</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" href="#analyse">Analyse de risque</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" href="#evaluation">Evaluation de risque </a>
                </li>
            </ul>
        </li>
        
        <li class="nav-item">
            <a class="nav-link text-truncate" href="#parametre" > Paramètres d'analyse de risques</a>
            <ul>
                <li class="nav-item">
                    <a class="dropdown-item" href="#frequence">Echelle de fréquence</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" href="#gravite">Echelle de gravité</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" href="#criticite">Echelle de criticité </a>
                </li>
            </ul>
        </li>
    </ul>
</div>


