{% load static %}
<br><br>
<p style="text-align:center"><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif"><strong>Option 1 : aide compl&eacute;mentaire sur le<br />
fonctionnement de l &rsquo;application</strong></span></span></p>

<p><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif"><strong>AdjAsTor APR </strong>est &ndash; une application mise sur pied enfin de faciliter la t&acirc;che aux jeunes entrepreneurs pour mieux g&eacute;rer les risques affectant ou susceptible d&rsquo;affecter leurs fonctionnements. A la base, c&rsquo;est une application facile et pratique ; il permet de traiter et de repr&eacute;senter tous types de risques. Son fonctionnement est le suivant :<br />
Elle est constitu&eacute; de 5onglets principal :</span></span></p>

<ul>
	<li><span style="color:#c0392b"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif"><strong>Onglet notions de bases</strong></span></span></span></li>
</ul>

<p style="margin-left:40px"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">Cet onglet regroupe l&rsquo;ensemble de mots cl&eacute;s employ&eacute;s dans cette application ; y compris quelques notions de base. En effet, cet onglet permet &agrave; l&rsquo;utilisateur de mieux comprendre la suite de l&rsquo;application et de pourvoir naviguer sans difficult&eacute;. De ce fait, l&rsquo;utilisateur ne fera recours &agrave; la barre de recherche que en cas de n&eacute;cessit&eacute;.</span></span></p>

<ul>
	<li><span style="color:#c0392b"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif"><strong>Onglet classification des risques</strong></span></span></span></li>
</ul>

<p style="margin-left:40px"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">Cet onglet permet de connaitre les diff&eacute;rents types de risques possible ; cela permettra peut-&ecirc;tre de r&eacute;f&eacute;rencer le risque que vous soutirez analyser &agrave; un type de risque pr&eacute;cis. Les instructions son guid&eacute;s de la mani&egrave;re suivante :<br />
Lorsque vous acc&eacute;dez &agrave; cet onglet, une petite fen&ecirc;tre rose vous permettra d&rsquo;acc&eacute;der &agrave; diff&eacute;rentes rubriques de classification, il vous suffit juste de cliquer sur cette fen&ecirc;tre pour y acc&eacute;d&eacute;.</span></span></p>

<ul>
	<li><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif"><span style="color:#c0392b"><strong>Onglet analyse de risque (APR)</strong></span></span></span></li>
</ul>

<p style="margin-left:40px"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">Cette onglet est r&eacute;serv&eacute; &agrave; la partie pratique de l&rsquo;application, donne les informations n&eacute;cessaires sur la m&eacute;thodologie d&rsquo;analyse de risque ; et les crit&egrave;res d&rsquo;analyses de risques &agrave; savoir : l&rsquo;&eacute;chelle de gravit&eacute;, fr&eacute;quence ou de probabilit&eacute; d&rsquo;occurrence.</span></span></p>

<p style="margin-left:80px"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif"><strong>Une interface de travail est r&eacute;serv&eacute;e pour l&rsquo;APR proprement parler.</strong></span></span></p>

<p style="margin-left:80px"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">Une fois l&rsquo;APR Sc&eacute;narios r&eacute;alis&eacute;es, les calculs sont ex&eacute;cut&eacute;s en cliquant sur Menu principal&gt;Calculs&gt;Ex&eacute;cuter les calculs.</span></span></p>

<p style="margin-left:80px"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif"><strong>Hi&eacute;rarchisation de risques</strong> :&nbsp;il est possible pour l&rsquo;utilisateurs d&rsquo;hi&eacute;rarchiser les diff&eacute;rents sc&eacute;narios enregistrer, par ordre croissant ou d&eacute;croissant de leurs criticit&eacute;s.</span></span></p>

<p style="margin-left:80px"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">L&rsquo;acc&egrave;s aux diff&eacute;rents r&eacute;sultats est &eacute;galement possible ; il suffit pour l&rsquo;utilisateur de suivre les instructions suivantes : Menu principal&gt;R&eacute;sultats &gt;affich&eacute; les r&eacute;sultats. Les r&eacute;sultats possibles sont:</span></span></p>

<p style="margin-left:80px"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif"><strong>L&rsquo;analyse globale</strong></span></span></p>

<p style="margin-left:120px"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">Elle pr&eacute;sente, le nombre total de scenario de risque, le nombre de scenario de risque par niveau de criticit&eacute; initiale et r&eacute;siduel (avant et apr&egrave;s les mesures de pr&eacute;ventions et/ou de protection)</span></span></p>

<p style="margin-left:80px"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif"><strong>L&rsquo;&eacute;valuation graphique</strong></span></span></p>

<p style="margin-left:120px"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">Ici, nous pr&eacute;sentons deux types de diagramme ; chacun ayant une th&eacute;orie bien sp&eacute;cifi&eacute;es :</span></span></p>

<ul>
	<li style="margin-left: 120px;"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif"><strong>Le diagramme de Farmer</strong></span></span></li>
</ul>

<p style="margin-left:200px"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">C&rsquo;est un diagraphe &agrave; 2 dimensions : la probabilit&eacute; et la gravit&eacute;. On distingue 3 r&eacute;gions sur ce diagramme :</span></span></p>

<ul>
	<li style="margin-left: 200px;"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">Zone de risque inacceptable</span></span></li>
	<li style="margin-left: 200px;"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">Zone de risque tol&eacute;rable ou ALARP</span></span></li>
	<li style="margin-left: 200px;"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">Zone de risque acceptable</span></span></li>
</ul>

<p style="margin-left:200px"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">Sur la r&eacute;gion d&rsquo;acceptabilit&eacute; figurent les risques qui sont inacceptables &ccedil;a ils sont connus mais tol&eacute;rables.</span></span></p>

<p style="margin-left:200px"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">Sur la r&eacute;gion ALARP, figurent les risques tol&eacute;rables que ce soit pour leur fr&eacute;quences ou leurs gravit&eacute;s Sur la r&eacute;gion acceptabilit&eacute;, figurent les risques acceptables,</span></span></p>

<p style="margin-left:160px"><img src="{% static 'img/aide/1.png' %}" style="float:left; height:268px; width:622px" /><br /></p> <br><br><br><br><br><br><br><br><br>

<p style="margin-left:200px">&nbsp;</p>

<ul>
	<li style="margin-left: 120px;"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif"><strong>Le diagramme de Proudy</strong> : il est repr&eacute;sent&eacute; sous forme de matrice &agrave; deux param&egrave;tres :<br />
	la probabilit&eacute; et la gravit&eacute; ; pour chaque param&egrave;tre, ont d&eacute;finis 5 niveaux</span></span>

	<ul>
		<li style="margin-left: 120px;"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif"><strong>Sur la probabilit&eacute;</strong> :</span></span>

		<ol>
			<li style="margin-left: 120px;"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">Improbable</span></span></li>
			<li style="margin-left: 120px;"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">Tr&egrave;s Peu probable</span></span></li>
			<li style="margin-left: 120px;"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">Peu probable</span></span></li>
			<li style="margin-left: 120px;"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">Probable</span></span></li>
			<li style="margin-left: 120px;"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">Tr&egrave;s probable</span></span></li>
		</ol>
		</li>
		<li style="margin-left: 120px;"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif"><strong>Sur la gravit&eacute;</strong></span></span>
		<ol>
			<li style="margin-left: 120px;"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">Mineur</span></span></li>
			<li style="margin-left: 120px;"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">Significative</span></span></li>
			<li style="margin-left: 120px;"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">Grave</span></span></li>
			<li style="margin-left: 120px;"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">Critique</span></span></li>
			<li style="margin-left: 120px;"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">Catastrophique</span></span></li>
		</ol>
		</li>
	</ul>
	</li>
</ul>

<p style="margin-left:160px"><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">Chaque case de la matrice est remplie par le produit des niveaux probabilit&eacute; et gravit&eacute;. Ce produit repr&eacute;sente la criticit&eacute; du danger redout&eacute;. Apr&egrave;s les actions d&rsquo;identification, d&rsquo;analyse et de priorisation, les dangers redout&eacute;s sont plac&eacute;s en fonction de leur criticit&eacute;<br />
(probabilit&eacute; *gravit&eacute;)</span></span></p>

<p style="margin-left:160px"><img src="{% static 'img/aide/2.png' %}" style="float:left; height:268px; width:622px" /><br /></p> <br><br><br><br><br><br><br><br><br> <br> <br>

<p style="text-align:center"><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif"><strong>Option 2 : recherche internet</strong></span></span></p>

<p><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif"><strong>BIBIOGRPHIE DE L&rsquo;AUTEUR</strong></span></span></p>

<p><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">AdjAsTor APR est &ndash;une application d&eacute;di&eacute;e &agrave; l&rsquo;analyse pr&eacute;liminaire des risques, et pr&eacute;sente 4 onglets principal. Elle est mise sur pied en Ao&ucirc;t 2021 par adja jamilatou fadilatou, &eacute;l&egrave;ve ing&eacute;nieure en p&eacute;trole et gaz, sp&eacute;cialit&eacute; QHSE,</span></span></p>
