<div class="collapse show d-md-flex bg-light pt-2 pl-0 min-vh-100" id="sidebar" style="position: fixed;">
    <ul class="nav flex-column flex-nowrap overflow-hidden">
        <li class="nav-item">
            <a class="nav-link text-truncate" href="#presentation"> Présentation Générale</a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#fonctionnement" >Fonctionnement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#unites" >Unités dans le navire FPSO</a>
        </li>
    </ul>
</div>