{% load static %}
<footer class="pt-lg-5">
    <div>
        <a class="fa fa-facebook-square fa-2x mr-2"></a>
        <a class="fa fa-linkedin fa-2x mr-2"></a>
        <a class="fa fa-twitter-square fa-2x mr-2"></a>
    </div>
    <div class="row">
        <p class="col-12 col-lg-8">
            Copyright 2020 Stop suicide Inc, All rights reserved. Ngaoundere, Cameroon
        </p>
        <p class="col-12 col-lg-4 text-center" style="color: #458cf4;">
            Investisseurs & Partenaires
        </p>
    </div>
</footer>